<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircleProgressBar" version="1.0.1" targetFramework="net461" />
  <package id="CircularProgressBar" version="2.7.0.7" targetFramework="net461" />
  <package id="CuteWpfControls" version="1.0.8" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net461" />
</packages>